/* type */
body {
  background-color: lightslategray;
  font-family: fantasy, serif, sans-serif;
  font-size: 1.25em;
  border-bottom: .1em black solid;
}
header p {
  text-align: center;
  font-weight: bold;
}
h1 {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  font-style: italic;
}
header p ul {
  display: inline;
}
div {
  /*border: .27em black solid;*/
  padding-bottom: 1em;
  border-radius: 60%;
  display: inline;
  text-align: center;
}
section {
    padding-top: 1em;
}
footer {
  font-size: .6em;
}
/* class */
.main-nav {
  text-align: center;
}
.list-nav {
  display: inline-block;

}
.head-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: #000;
  border-width: thick;
}
.description {
  text-align: center;
  padding: 1em;
  border-bottom: .1em black solid;
}
.note {
  text-align: center;
  border: black .1em solid;
  padding-bottom: .25em;
  padding-top: .25em;
  width: 100%;
  margin-bottom: 1em;
  font-size: .75em;
  border-left: none;
  border-right: none;
}
.characters,
.other-char {
  text-align: center;
}
.other,
.summary {
  padding-left: .25em;
  text-align: center;
}
.other {
  border-bottom: .1em black solid;
  border-top: .1em black solid;
}


/*link styles*/
a:hover {
  color: black;
}
a:link {
  color: white;
}
a:visited {
  color: maroon;
}
a:active {
  color: black;
}
